*{
    box-sizing: border-box;
}

.row{
    height: 10rem;
    margin: 1rem;
    /* justify-content: space-evenly; */
}

.orange{
    background-color: orange;
}
.dark-orange{
    background-color: darkorange;
}