
.box{
    position: absolute;
    text-align: center;
    padding: 1rem;
    border: 1px solid;
    height: 1rem;
    width:3rem;
    margin: 1rem;
    color: white;
    background-color:royalblue;
    border-radius: 5px;
}
.small-box{
    background-color: red;
    padding: 0.5rem;
    width: 2rem;
    color:white;
    border-radius: 0.9rem;
    position:relative;
    left: 4.5rem;
}