*{
    box-sizing: border-box;
}
.image{
    height: 200px;
    width: 300px;
    background-repeat: no-repeat;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJzo2EbJQzTXUo7BsEIwcNNBaLItn9GtpZDA&usqp=CAU');
}